@import "tailwindcss";

body {
  @apply bg-gray-100 text-gray-900;
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(0.9) translateY(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.1) translateY(-4px);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3.5s ease-in-out infinite;
}
